<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>
<body class="bg-gray-100">
<div class="flex justify-center items-start min-h-screen">
    <div class="text-center max-w-4xl px-4 py-8">
        <h1 class="text-3xl font-bold mb-6">{{ article.title }}</h1>

        <div class="bg-gray-200 rounded-lg p-6 mb-6 text-left">
            <p class="text-lg whitespace-break-spaces">{{ article.content }}</p>
        </div>

        <div class="flex justify-between text-m text-gray-600 mb-4">
            <div>
                <p><span class="font-semibold">Author:</span> {{ article.author }}</p>
            </div>
            <div>
                <p><span class="font-semibold">Created at:</span> {{ article.createdAt }}</p>
                <p><span class="font-semibold">Updated at:</span> {{ article.updatedAt }}</p>
            </div>
        </div>

        <div class="mt-6 space-x-4">
            <a href="/article/{{ article.id }}/edit" class="inline-block px-4 py-2 bg-yellow-500 text-white rounded-lg hover:bg-yellow-600">Update</a>
            <a href="/article/{{ article.id }}/delete" class="inline-block px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600">Delete</a>
            <a href="/articles" class="inline-block px-4 py-2 bg-green-500 text-white rounded-lg hover:bg-green-600">Back to list</a>
        </div>
    </div>
</div>
</body>
</html>
